.card{
  background-color:rgb(0,0,0);
  border: 1px solid black;
}

.card:hover{
  background-color:rgba(255,255,255,0.3);
}

.orbit-container{
	background-color:rgba(255,255,255,0.2);
}

body{
	background-color:rgba(10,10,10,1);
	background-image:linear-gradient(to top, rgb(0,0,0), rgba(0,0,0,0.6)), url(http://wallpaperset.com/w/full/6/8/7/29750.jpg);
	background-repeat: no-repeat;
  	background-attachment: fixed;
}

h1,h2,h3,h4,h5,h6,p{
	color:white;
}

.top-bar{
	
}

