.card:hover{
  background-color:rgba(0,0,0,0.05);
}

.bgtext{
	color:white;
}

body{
	background-color:rgba(245,245,245,1);
	background-image:linear-gradient(to bottom, rgb(255,255,255), rgba(255,255,255,0.9)), url(https://wallpaperaccess.com/full/1159346.jpg);
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size:100% 100%;
}

li{
	color:rgba(0,0,0,0);
}