h1{
  font-size:50px;
}

.orbit-image{
  height:200px;
  width:100%;
}
.card:hover{
  background-color:rgba(0,0,0,0.05);
}

.textfield{
  width:20%;
}

.search-button{
  width:50px;
}

.textfield, .search-button{
  display:block;
  height:50px;
}

.searchbar{
  display: flex;
  flex-direction: row;
}

.orbit-container{
  width:100%;
}
.card-section{
  text-align:center;
}

.orbit-previous{
  height:100px;
  background-color:black;
  border-radius:0% 50% 50% 0%;
}

.orbit-next{
  height:100px;
  background-color:black;
  border-radius:50% 0% 0% 50%;
}

.orbit{
  background-color:rgba(0,0,0,0.1);
  padding:0;
}

.main{
  margin-left:30%;
  margin-right:30%;
  margin-top:5%;
  margin-bottom:10%;
  padding:20px;
  border: 1px solid black;
}

.poster{
  height:350px;
}

.card-section{
  height:100px;
}