h1{
  font-size:50px;
}



.orbit-image{
  height:200px;
  width:100%;
}

.textfield{
  width:35%;
  padding-left:20px;
  border-radius:25px 0 0 25px;
}

.video{
  width:98%;
}
.top-bar, .top-bar ul, .top-bar-left, .menu-text, .menu{
  background-color:rgba(209,51,51,1);
}

.search-button{
  width:5%;
  background-color:white;
  border-radius:0 25px 25px 0;
  border:2px solid lightgray;
  border-left:0;
  transition: background-color 0.3s ease-out 100ms, border 0.3s ease-out 100ms;
}

.search-button:hover{
  border:2px solid rgba(209,51,51,1);
  border-left:0;
  background-color:rgba(209,51,51,1);
}

.page-button{
  width:50px;
  height:50px;
  border:2px solid lightgray;
  border-radius:25px;
  transition: background-color 0.3s ease-out 50ms, border 0.3s ease-out 50ms, color 0.3s ease-out 50ms;
}

.searchbar2{
  display: inline-block;
}

.page-button:hover{
  border:2px solid rgba(209,51,51,1);
  background-color:rgba(209,51,51,1);
  color:white;
}


.cool-button{
  height:50px;
  width:150px;
  border-radius:25px;
  background-color:white;
  transition: background-color 0.3s ease-out 100ms, color 0.3s ease-out 100ms, border 0.3s ease-out 100ms, color 0.3s ease-out 100ms;
  border: 1px solid rgba(209,51,51,1);
}

hr{
  border:1px solid rgba(209,51,51,0.4);
  border-radius:50%;
}

.cool-button:hover{
  background-color:rgba(209,51,51,0.9);
  border: 1px solid white;
  color:white;
  font-weight:500;
}

.pie-chart{
  height:100px;
  width:100px;
  border-radius:50px;
  font-size:60px;
  margin-left:auto;
  margin-right:auto;
}

.directory{
  font-size:30px;
  transition:font-size 0.3s ease-out 100ms;
}

.directory:hover{
  font-size:35px;
  font-weight:500;
}

a{
  color:rgba(209,51,51,1);
  font-weight:200;
}

a:hover{
  color:rgba(209,51,51,1);
  font-weight:400;
}

.menu{
  color:red;
}

.textfield, .search-button{
  display:block;
  height:50px;
}

.searchbar{
  display: flex;
  flex-direction: row;
}

.orbit-container{
  padding-top:6px;
  width:100%;
}
.card-section{
  text-align:center;
}

.orbit-previous{
  height:100px;
  background-color:black;
  border-radius:0% 50% 50% 0%;
}

.orbit-next{
  height:100px;
  background-color:black;
  border-radius:50% 0% 0% 50%;
}

.orbit{
  background-color:rgba(0,0,0,0.1);
  padding:0;
}

.sidebar{
  background-image:linear-gradient(to top, rgba(209,51,51,0.4), rgba(255,255,255,0),rgba(255,255,255,0));
}

.movie-content{
  padding-left:100px;
}

.main{
  margin-left:30%;
  margin-right:30%;
  margin-top:0%;
  margin-bottom:10%;
  padding:20px;
  border: 2px solid rgba(209,51,51,0.4);
}

.poster{
  height:350px;
}

.profilepage{
  height:50px;
  border-radius:25px;
  padding-left:20px;
  padding-right:20px;
}

.pfp{
  height:300px;
  width:300px;
  border-radius:150px;
}

.pfp-small{
  width:200px;
  height:200px;
  border-radius:100px;
}

.comments{
  margin-top:auto;
  margin-bottom:auto;
}

.card-section{
  height:100px;
}