<!DOCTYPE html>
<html>

<head>
  <title>Log In</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/css/foundation.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/js/vendor/jquery.min.js">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/js/foundation.min.js">
  </script>

  <style>
    input::placeholder {
      color: #6e6767;
      opacity: 1;
    }
  </style>
</head>


<body>
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text"><img style="width:10%" src="../static/logo.png"></li>
      </ul>
    </div>

    <div class="top-bar-right" style="color:white;text-align:right;"><span style="font-weight:700;font-size:25px">LostAndFoundation</span><br><span style="font-weight:200">Joseph Jeon, Nakib Abedin, Yat Long Chan, Sasha Shifrina</span></div>
  </div>

  <br>

  <center>
    <img style="width:60%" src="../static/logo2.png">
  </center>

  <br>

  <div class="main">

    <h2>Login</h2>
    
    {% if status == 'error' %}
    The wrong username or password was entered.
    {% endif %}
    <form action="/auth/login" method="POST">
      <p>
        <input type="text" name="username" placeholder="Username" required>
      </p>
      <p>
        <input type="password" name="password" placeholder="Password" required>
      </p>
      <p><a href="/signup">New user? Sign up here.</a></p>
      <input class="cool-button" type=submit value=Login>
    </form>
  </span>

</body>

</html>